node/node_modules/*
software/run-image

.fuse_*

software/run-animation
software/run-perlin
software/run-text
software/run-image
software/run-test
software/run-circle
software/run-clock
software/run-hue-block
software/run-life
software/run-static
software/run-rgb
software/run-twinkle
software/run-wash
software/run-wipe
software/run-text.png
logibone/BB-BONE-LOGIBONX-SLOW.dtbo
node/app.log
